<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Flying Basket</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialdesignicons.css" rel="stylesheet" type="text/css" />
    <link href="./css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  <style type="text/css">


html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
    .login-form {
    width: 280px;
}
.green {
    background-color: #259b24 !important;
}
.profile-image-login{
  margin-top: 10px;
}
#login-page{
  font-size: 14px;
}
  </style>
  <body class="green">
  

    <div id="login-page" class="row">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
          <img src="img/login-logo.png" alt="" class=" profile-image-login responsive-img ">
          </div>
        </div>
        <div class="row m-b-0">
          <div class="input-field col s12"> 
            <i class="mdi mdi-account-outline prefix"></i>
            <input id="username" type="text">
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row m-b-0">
          <div class="input-field col s12"> 
             <i class="mdi mdi-lock-open-outline prefix"></i>
            <input id="password" type="password">
            <label for="password" class="">Password</label>
          </div>
        </div>
        
        <div class="row  m-b-0">
          <div class="input-field col s12">
            <a href="user.html" class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#">Forgot password ?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
     
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
 
   
</body>
</html>